@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



$bg_clr:#1F1F38;
$bg_variant_color: #2C2C6C;
$primary_clr: #4DB5FF;
$priamry_variant_color: rgba(77, 181, 255, 0.4);
$white_color: #fff;
$ligth_clr: rgba(255, 255, 255, 0.6);
$black_clr:#333;

$color-1: #2a1d52;
$color-2: #6C77F4;
$color-3: #63a4e9;
$color-4: #4FEDD2;
$color-5: #36D0EA;

$darkblue:#2f4f4f;


$borderRadius: 8px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center; 
}

html, body {
  height: 100%;   
  line-height: 1.7;
  color: $white_color;  
  font-family: 'Poppins', sans-serif;       
}




h1, h2, h3, h4, h5 {
    font-weight: 500;
} 

h1 {
    font-size: 2.5rem;
}


.home, .portfolio {
  display: flex;
  flex-direction: row;  
  height: 100vh; 

  @media screen and (max-width: 460px){
    flex-direction: column; 
    height: inherit;  
  }
}
.homeContent, .portfolioContent {
  // margin-left: .4rem;

  // @media screen and (max-width: 850px){
  //   margin-left: 0 !important;
  // }
}

@mixin lien-code {
  border: 2px solid $color-2;  
  width: auto;
  padding: 8px;
  font-size: .8rem;
  font-weight: bold;
  color: $color-2;
  border-radius: 5px;   
  margin: 0.5em;
  display: block;
}