.home {

  &__content {
    background: linear-gradient(235deg, $color-1 40%, $color-5 0%);
    min-height: 98vh;
    width: 100%;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: inherit;
      background: url('../../assets/bailo.jpg') no-repeat center/cover;
      z-index: -1;
      filter: brightness(70%);
    }

    &--child {
      position: absolute;
      top: 8%;
      left: 1%;
      padding: 0 .6em;

      h1 {
        color: $color-3;
        text-transform: uppercase;
        text-shadow: 2px 2px 1px $ligth_clr;
        font-size: calc(4rem);
        line-height: 1;
      }

      p {
        font-size: 1.8em;
        padding: 1.5rem 0 3rem;
        color: $darkblue;
        text-shadow: 1px 2px .5px #9ab2cb;
        width: 100%;
        margin-bottom: 2rem;
      }

      .pdf {
        a {
          font-size: 1.5rem;
          background: $color-3;
          padding: 1rem 2rem;
          border-radius: $borderRadius;
          box-shadow: 0 5px 1px rgb(15, 15, 15);
          transition: 0.2s ease;

          &:hover {
            background: $color-4;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      &--child {
        top: 8%;

        h1 {
          font-size: 36px;
        }

        p {
          font-size: 1.3em;
          padding: 1.5rem 0 2rem;
        }
      }
    }

    @media screen and (max-width: 460px) {
      border-top-right-radius: inherit;
      border-bottom-left-radius: $borderRadius;
      width: inherit;

      &--child {
        top: 1%;
        left: 1%;

        h1 {
          font-size: 1.5rem;
          text-shadow: 2px 2px 1px rgb(255 255 255 / 60%);
          text-align: center;
          margin-top: 1em;
        }

        p {
          margin: 1em auto;
          font-size: 1.3em;
          width: 95%;

        }

        .pdf {
          text-align: center;
          margin-top: 5rem;
        }
      }
    }
  }
}