.sidebar {
  background: $bg_clr;  
  background-image: url('../../assets/bg-texture.png');    
  height: 100%;
  min-height: $minHeight;
  width: 25%;
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;   
  grid-template-areas: 
    "1"
    "2"
    "3";
  margin-right: .2em;
  &__id {
    grid-area: 1;
    text-align: center;
    user-select: none;
    position: relative;

    &--content {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;

      img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          box-shadow: 0 0 0 4px $color-3, 0 0 0 8px $color-4, 0 0 0 12px $color-2;
      }
      h3 {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        color: $color-5;
      }
    }
  }
  &__nav {
    grid-area: 2;
    padding: 2rem 1rem;

    &--listwrapper {
      height: 100%;             
      li {
        padding: 1rem 0 1rem .4rem;
        font-size: 1.3rem;
        position: relative;
        color: $color-5;         

        a {
          color: $color-5;
          margin-left: 1.7rem
        }
        .nav-active {            
          text-decoration: underline ;
        }

        .icon {
          position: absolute;         
          transform: translateY(7px);
          transition: .2s ease;
          margin-right: .5rem;
        }         
      }
    }
  } 
  @media screen and (max-width: 768px) {
    &__id {
      &--content {
        top: 25px;             
        img {
          width: 80px;
          height: 80px;
        }
        h3 {
          font-size: .8em;
          margin: 1.5rem 0.2em 0
        }
      }
    }

    &__nav {
      padding: 2rem .2em;
    
      &--listwrapper {      
        li {
          padding: 1rem 0.4rem;
          font-size: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 460px){
    flex-direction: column; 
    width: 100%; 
    min-height: inherit;
    height: inherit; 
    margin-bottom: .1em;
    border-bottom-left-radius: inherit;
    border-top-right-radius: $borderRadius;
    &__id {
      &--content {
        top: 23px;
        left: 5%;
        transform: inherit;
        width: auto;
        display: flex;
        flex-direction: revert;
        img {
          width: 70px;
          height: 70px;
        }
        h3 {
          font-size: 1.1rem;
          margin:0.9rem
        }
      }
    }
    &__nav {
      padding: 1rem 1rem;
      margin-top: 6rem;
      &--listwrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
          padding: inherit;
        }
      }
    }
  }  
}
 