.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  background: linear-gradient(126deg, $color-1 0%, transparent 100%);
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  padding: 1em;
  width: 100%;
  gap: 20px;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
  &__card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#2a1d52 8%, $color-5 98%);
    width: 100%;
    border-radius: 10px;
    padding: 0.8em;
    color: $color-5;
    position: relative;
    z-index: 1;
    &:hover {
      &::after {
        opacity: 1;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $bg_variant_color;
      border: 1px solid $ligth_clr;
      opacity: 0;
      z-index: -1;
      transition: opacity ease-in-out 250ms;
      border-radius: 10px;
    }

    &--title {
      text-align: center;
      height: 4rem;
      line-height: 1;
    }
    &--techno {
      display: inline-flex;
      flex-wrap: wrap;
      .language {
        border: 1px solid $color-2;
        border-radius: 1.5em;
        padding: 2px 10px;
        color: $white_color;
        margin: 2px;
        font-size: 0.9em;
      }
    }
    &--title-descrip {
      margin-top: 0.5em;
    }
    &--description {
      flex: 1;
      color: $white_color;
      font-size: 13px;
      border: 3px ridge $color-2;
      border-radius: 8px;
      padding: 0.5em;
    }
    &--source {
      display: flex;
      justify-content: flex-start;
      padding: 10px;
      .code {
        @include lien-code;

        cursor: pointer;
        margin: 0.5em;
        // &:hover {
        // //   background-color: lighten($color-1, 5%)
        // }
      }
      .lien {
        width: auto;
        padding: 8px;
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0.5em;
        border: 1px solid $color-2;
        border-radius: 5px;
        display: block;
        color: #fff;
        background-color: #5360f7;
        &:hover {
          background-color: darken(#5360f7, 5%);
        }
      }
    }
  }
  @media screen and (max-width: 460px) {
    overflow-y: inherit;
    width: inherit;
    padding: 0.6em;
    border-top-right-radius: inherit;
    border-bottom-left-radius: $borderRadius;
  }
}
